

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary:#7a2952;
$pink:#ee4266;
$yellow:#ffd23f;
$mint:#3bceac;
//$green:#0ead69;
$green: #17c71c;


$red: #c71d17;
$mustard: #C79217;
$blue-l: #101C24;
$red-hover: #F7DEDD;
$blue-menu: #7BC8E1;
$bg-gral: #5f7476;
//#4f6062;
//#3f4d4e;
//#2f3a3b;
//#1f2627;


$font-family-title: 'Montserrat', sans-serif;
$font-family-base: 'Roboto', sans-serif;