.weatherMain__container {
    display: grid;
    grid-template-columns: 0.8fr repeat(2, 1fr);
    justify-items: start;
    align-items: center; 
}

.weatherMain__temp {
    grid-column: 1/2;
    font-size: 3em;
}

.weatherMain__city {
    grid-column: 2/3;
    font-size: 2.5em;
    
}

.weatherMain__description {
    grid-column: 3/4;
    justify-self: center;
    text-align: center;
}

.weatherMain__description-icon {
    svg {
        font-size: 2em;
        height: 1em;
        width: 1em;
    }
}

.weatherMain__description-text {
    margin: 0;
    font-size: 0.8em;
}


@media (max-width: 767px) {
    .weatherMain__description {
        justify-self: start;
    }
}